:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:rgb(238, 77, 45);
    --primary-color-rgba:#EE4d2d;
    --border-color:#dbdbdd;
    --star-gold-color:#ffce3e;

    --header-height:120px;
    --navbar__height:34px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar__height));
}

*{
    box-sizing: inherit;
}
html{
/* 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    /* sans-serif chung khong chan neu khong duoc tai qua roboto thi dung sans-serif*/
    box-sizing: border-box;
}
/* responsive */
.grid{
    /* voi man to hon 1200 thi chi hien thi 1200 thoi con nho hon thi co th dieu chinh theo cho dung  */
    width:1200px;
    max-width: 100%;
    margin:0 auto;
    /* can giua */
}
.grid__full-width{
    width:100%;
}
.grid__row{
    display: flex;
    flex-wrap:wrap;
    /* cung nam tren hang ngang do main asis=row co xuong dong   */
    margin-left:-5px;
    margin-right: -5px;
    /* tao khoang cach */
}
.grid__column-2{
padding-left: 5px;
padding-right: 5px;
width:16.6667%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width:20%;
    }
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width:83.3333%;
}
/* animation fadeOut */
@keyframes fadeIn{
   0% {
    opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes growth {
    from{
        transform:scale(var(--growth-from))
    }
    to{
        transform: scale(var(--growth-to));
    }
}
/* modal */
.modal{
    position:fixed;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    display:flex;
    animation: fadeIn ease-in 0.1s;
    display: none;
}
.modal__overlay{
    position:absolute;
    width:1000%;
    height:100%;
    background-color: rgba(0,0,0,0.3);
}
.modal__body{
    --growth-from:0.7;
    --growth-to:1;
    position:relative;
    margin:auto;
    z-index: 3;
    font-size: 1.5rem;
    padding: 0px 0px 0px 0px ;
    animation: growth linear 0.1s;
}
.btn.btn--normal:hover{
    background-color: rgba(0,0,0,0.05);
}

.btn{
min-width:124px;
height:34px;
text-decoration: none;
border:none;
border-radius: 2px;
outline: none;
cursor: pointer;
color:var(--text-color);
background-color:var(--white-color);
display: inline-flex;
justify-content: center;
align-items: center;
padding:0  12px;
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color-rgba);
}
.btn.btn-disable{
    cursor:default;
    filter: brightness(80%);
    color: #949494;
    background-color: #c3c3c3;
}
.btn.btn--size-s{
    height:32px;
    font-size: 12px;
    padding:0 8px;
}

.category-item__link{
    text-decoration: none;
}

/* Selection */
.select-input{
    min-width: 200px;
    height:34px;
    padding:0 12px;
    border-radius:2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-input{
    font-size: 1.4rem; 
    position: relative;
}
.select-input::after{
    content:"";
    position: absolute;
    top:100%;
    left:0;
    width: 100%;
    height:4px;
    background-color:transparent;
}
.select-input__icon{
    font-size: 1.4rem;
    color: rgb(131,131,131);
    position:relative;
    top:1px;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__list{
    position: absolute;
    left:0;
    right:0;
    top:calc(100% - 12px);
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px ;
    list-style: none;
    display: none;
    z-index: 1;
}
.select-input__link{
    font-size: 1.4rem;
    color:var(--text-color);
    text-decoration: none;
    display: block;
    padding: 5px 0;
}
.select-input__link:hover{
    color: var(--primary-color);
}
/* pagination */
.pagination{
display: flex;
justify-content: center;
align-items: center;
list-style: none;
}
.pagination-item{
margin:0 12px;
}
.pagination-item__link{
    --height:30px;
text-decoration: none;
font-size: 1.8rem;
font-weight: 300;
color: #939393;
display: block;
min-width:40px;
text-align: center;
line-height: var(--height);
height:var(--height);
border-radius: 2px;
}

.pagination-item__icon{

}
.pagination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);

}
.pagination-item--active .pagination-item__link:hover{
    background-color: #ed5c3f;

}
